@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sofia&display=swap');

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #7565fc;
}

.menu {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    row-gap: 8px;
    column-gap: 8px;
}
.bg > img {
    width: 30%;
    
}
.bg{
    padding-left: 16px;
    padding-top: 10px;
}

.element{

    border-radius: 20px;
    margin-left: 2px;
    padding-left: 15px;
    aspect-ratio: 1/1;
    color: #7565fc;
    animation: boxShadow 3s infinite;
   
}

.element:hover{
    box-shadow: 0px 0px 10px 0px #7565fc;
    transform: scale(1.05);
}
@keyframes boxShadow {
    0% {box-shadow: 0px 0px 0px 0px #7565fc;}
    50% {box-shadow: 0px 0px 10px 0px #7565fc;}
    100% {box-shadow: 0px 0px 0px 0px #7565fc;}
  }
        
.element h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    
}

.imgbg{
    width: 100%;
    
}
.navbar   {
    width: 100%;
    position:fixed;
    right: 0px;
    bottom: 0;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    background-color: #171717;
    color: #7565fc;
    padding: 10px 0px;
    font-size: 1.3rem;

}

body {
    background-color: #171717;
    display: flex;
    flex-direction: column;
}

.navbar > i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    color: #7565fc;
    padding: 10px 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    font-size: 1.5rem;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  
  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
  }
  
  .input::placeholder,
  .input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  
  
.tienda{
    background: #616e77;
}
